<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hoshi_Translator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Hoshi_Translator.Properties.Settings>
            <setting name="app_location_x" serializeAs="String">
                <value />
            </setting>
            <setting name="app_location_y" serializeAs="String">
                <value />
            </setting>
            <setting name="init_size_x" serializeAs="String">
                <value />
            </setting>
            <setting name="init_size_y" serializeAs="String">
                <value />
            </setting>
            <setting name="last_command" serializeAs="String">
                <value />
            </setting>
        </Hoshi_Translator.Properties.Settings>
    </userSettings>
</configuration>